#classinform{
    margin-top: 20px;
    display: flex;
    border-radius: 15px;
    background-color: rgba(238, 237, 237, 0.698);
    width: 90%;
    height:500px;
    padding: 20px;
    margin-left: 55px;
}
#classinformtable{
    margin-left: 35px;
    width: 95%;
    display: block;
    border-radius: 25px;
}
#welcomeinform{
    margin-top: 20px;
    font-weight: 200;
    display: block;
    font-size: xxx-large;
    margin-left: 50px;
}