<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>教师/学生信息管理</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/addUser.css}">
    <script type="text/javascript" th:src="@{/js/addUser.js}"></script>
</head>
<body>

<header>
    <nav class="nav">
        <div class="banner_area">
            <a th:href="@{index.html}">首页</a>
            &nbsp;&nbsp;
            <a th:href="@{logout}">注销</a>
        </div>
    </nav>
</header>
<div class="void">
    <span></span>
</div>
<div class="showlist">
    <form class="registration_form" th:action="@{/user}" id="userform" ref="editform" method="post">
        <div class="registration_table">
            <ul>
                <li>
                    <span class="sign">*</span>
                    <label>用户角色</label>
                    <input type="radio" name="role" id="teacher" value="1" checked ><label for="teacher">教师</label>
                    <input type="radio" name="role" id="student" value="2" ><label for="student">学生</label>
                </li>
                <li>
                    <span class="sign">*</span>
                    <label >学号/工号</label>
                    <input type="text" aria-required="true" id="id" name="id" onblur="id_check()" autocomplete="off">
                    <span class="error id_void" id="id_22_message">工号/学号前两位需为22！</span>
                    <span class="error id_void" id="id_void_message">该字段不能为空！</span>
                    <span class="error id_error" id="id_error_message">输入只能为数字！</span>
                    <span class="error id_error" id="id_Tl_message">请输入8位工号！</span>
                    <span class="error id_error" id="id_Sl_message">请输入6位学号！</span>
                </li>
                <li>
                    <span class="sign">*</span>
                    <label >姓名</label>
                    <td><input type="text" aria-required="true" id="name" name="name" onblur="name_check()" autocomplete="new-password" >
                    <span class="error void" id="name_void_message">该字段不能为空！</span>
                    <span class="error void" id="name_error_message">姓名输入只能为中英文!</span>
                    <span class="error void" id="name_long_message">仅支持32字符以内输入！</span>
                </li>
                <li>
                    <span class="sign">*</span>
                    <label >身份证号</label>
                    <td><input type="text" aria-required="true" id="idNumber" name="idNumber" onblur="idNumber_check()" autocomplete="off">
                    <span class="error void" id="idNumber_void_message">该字段不能为空！</span>
                    <span class="error idNumber_error" id="idNumber_error_message">请输入18位纯数字！</span>
                </li>
                <li>
                    <span class="sign">(选填)</span>
                    <label >手机号</label>
                    <input type="text" id="phoneNumber" name="phoneNumber" onblur="phone_check()" autocomplete="new-password">
                    <span class="error" id="phone_error_message">请输入正确的手机号！</span>
                </li>
                <li>
                    <span>(选填)</span>
                    <label >邮箱</label>
                    <td><input type="text" id="email" name="email" onblur="email_check()" autocomplete="off"></td>
                    <span class="error" id="email_error_message">输入格式不正确，请检查输入！</span>
                </li>
            </ul>
            <div class="btn">
                <input type="submit" class="submit" id="submit" onclick="return submit_check()">
            </div>
            <a th:href="@{/userManage.html}" class="return" >返回</a>
        </div>
    </form>
</div>

</body>
</html>
<script>

</script>
