<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>密码重置</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/resetPassword.css}" />
</head>

<body>  
    <form class="Preset" th:action="@{/resetPassword}" >
        <h1 style="text-align:center">首次登录请重置密码</h1>
        <h4 style="text-align:center">密码需包含大小写字母、数字及字符</h4>
        <!-- msg1-->
        <h6 style="color:red" th:text="${msg1}" th:if="${not #strings.isEmpty(msg1)}">$&nbsp;</h6>
        <label>
        <input type="password" id = "newPassword1" name="newPassword1" placeholder="请输入新密码">
        <input type="password" id = "newPassword2" name="newPassword2" placeholder="请再次输入密码">
        </label>
        <input type="submit" value="确认" class="verify">
    </form>
</body>
</html>