*{
    user-select: none;
}/*禁止复制网页*/

#Preset{/*密码重置表*/
    position: absolute;
    top: 60%;
    margin-top: -250px;
    left: 50%;
    margin-left: -200px;
    background-color: rgba(238, 237, 237, 0.698);
    width: 400px;
    height: 350px;
    border-radius: 25px;
    text-align: center;
    padding: 15px;
}
