*{
    user-select: none;
}/*禁止复制页面文字*/

.huanyin{
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: -47%;
    font-size:40px;
    font-weight: 500;
}

.dashboard{/*功能选择页面*/
    top:25%;
    margin: 0 auto;
    width: 90%;;
    background-color: rgba(255, 255, 255, 0.746);
    border-radius: 25px;
    padding: 15px;
}

a{/*超链接*/
    text-decoration: none;
    color:black;
    font-weight: 600;
}

.tablehead{/*功能选择页面的首行文字*/
    line-height: 70px;
    font-size: 30px;
    font-weight: 700;
    padding-left: 30px;
    border-bottom: 2px solid silver;
}

table{/*功能选择页面*/
    border-collapse: separate;
    border-spacing: 15px;
}

.choose{/*具体的功能按钮*/
    background-color: rgba(238, 237, 237, 0);
    width:1%;
    height: 180px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    line-height:180px;
}
#xx{
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}
.choose a{
    display:block;
    height: 180px;
    border-radius: 10px;
    text-align: center;
}

.choose:hover{/*鼠标点击功能按钮后*/
    background-color: rgba(255, 255, 255, 0.9);
}
