*{
    user-select: none;
}

a:link {
    color: #000000;
    text-decoration: none;
}
a:visited {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #999999;
    text-decoration: underline;
}

.void{
    height:100px;
}
body{
    min-width: 1400px;
    background-size:cover;
    background: url('../images/background.jpg') no-repeat fixed;
}

.showlists{
    top:25%;
    width:1235px;
    margin: 0 auto;
    height: 70%;
    background-color:white;
    box-shadow: 0 0 10px 10px rgb(226 234 242 / 50%);
    border-radius: 40px;
    padding: 15px;
}

.functionlist{
    float:right;
    letter-spacing: 10px;
    margin-right: 50px;
    padding: 5px;
}

.rolelist{
    float: left;
    margin-left: 50px;
    padding: 5px;
}

.showlistheader button{
    width: 70px;
    height:30px;
    background-color:wheat;
}

.showlistheader a{
    border: black 2px solid;
    background-color:wheat;
    display: inline-block;
    text-decoration: none;
    padding:5px 18px;
    margin: 0  auto;
}

.showlistheader{
    height:40px;
    width: 1200px;
    border-bottom: 2px ;
    border-bottom-color: black;
    border-bottom: solid;
}

.showlistcontent{
    text-align: center;
    table-layout: fixed;
}
table{
    margin-bottom: 20px;
}
