#chosenclassform{
    margin-top: 25px;
    width:1240px;
    border-radius: 15px;
}
#welcom{
    width: 100%;
    margin-top: 30px;
    height: 50px;
    margin-bottom: 5px;
    font-size: xx-large;
    font-weight: 500;
}
#chosenclassinfor{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height:600px;
    border-radius: 20px;
    background-color: rgba(238, 237, 237, 0.698);
    margin-top: 50px;
    width:1330px;
}
#chosenclasstabel{
    margin-top: 50px;

}
.classid{
    font-weight: 700;
    font-size: x-small;
}
.classname{
    font-weight: 700;
    font-size: medium;
}
.classteacher{
    font-weight: 500;
    font-size: small;
}
.classroom{
    font-weight: 500;
    font-size: x-small;
}