#personalinfor{
    margin-top: 50px;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    width:90%;
    background-color: rgba(238, 237, 237, 0.698);
}
.item{
    text-align:center;
}
.descriptions {
    text-align:center;
    border-radius: 15px;
    min-width: 90%;
    margin: 20px;
}
.verify{
    height: 20px;
    font-size: x-small;
}
