*{
    user-select: none;
}/*禁止复制网页*/
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../images/background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
}
#formbiao{
    width:1300px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#Preset{/*密码重置表*/
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(238, 237, 237, 0.898);
    width: 400px;
    height: 350px;
    border-radius: 25px;
    text-align: center;
    padding: 15px;
}
.typein3{
    margin-top: 15px;
    margin-left: -90px;
}
.typein2{
    margin-top: 15px;
    margin-left: -50px;
    width: 90%;
}
