#teaclassinform{
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    border-radius: 15px;
    background-color: rgba(238, 237, 237, 0.698);
    width: 95%;
    height:500px;
    padding: 20px;
    margin-left: 55px;
}
#requirebtn{
    margin-left:10px ;
}
#teaclassinformtable{
    width: 100%;
    display: block;
    border-radius: 5px;
}
#teawelcomeinform{
    margin-top: 20px;
    font-weight: 200;
    display: block;
    font-size: xxx-large;
    margin-left: 50px;
}