*{
    user-select: none;
}

a:link {
    color: #000000;
    text-decoration: none;
}
a:visited {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #999999;
    text-decoration: underline;
}

.void{
    height:100px;
}

.showlist{
    top:25%;
    margin: 100px auto;
    width: 1235px;
    height:70%;
    background-color:white;
    box-shadow: 0 0 10px 10px rgb(226 234 242 / 50%);
    border-radius: 40px;
    padding: 15px;
    text-align: center;
}

.edit{
    margin-top: 40px;
}
.deletedia{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.deletedia h1{
    margin-bottom: 50px;
}
.settime{
    display: flex;
    flex-direction: row;
    align-items: center;
}


